tr.fund-item {}

tr.fund-item td {}

tr td.input-col {width: 10em;}

tr td.description-col {}

tr.fund-item td span.dollar-sign {display: inline;}

tr.fund-item td input.fund-amount {display: inline;}


